body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.50;
	color: black;
	background-color: white;
	position: relative;
}
/*.menu {*/
	/*display: inline-block;*/
a:hover {
	 	background-color: blue;
	 	color: white;
	 	text-decoration: underline;
	 }
a:focus {
	background-color: blue;
	color: white;
	text-decoration: underline;
}	 
	ul {
		list-style-type: none;
		margin: 10;
		padding: 20;
		overflow: hidden;
		display: inline-block;
		background: #CBDFE8;
		text-align: center;
		width: 100%;
	}

	li {
		display: inline-block;
		color: blue;
	}

	li a {
		font-size: 20px;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

.menu{
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	font-size: 20px;
	overflow: hidden;
	z-index: 2;
	background-color: black;
}

#search-nav {
  height: 60px;
  width: 100%;
  background-color: black;
}
.content {
	padding: 16px;
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .content {
	padding-top: 60px;
}
/*}*/
.home {
	background-image: url(../images/Web-Development-Banner-1.jpg);
	background-repeat: no-repeat;
	text-align: center;
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
}
.heading {
	padding: 1.067em;
	line-height: 0.7;
}
.name {
	color: #F9545B;
	font-size: 3.5em;
}

.title {
	color: #FFCC00;
}

.intro {
	background-color: #CBDFE8;
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
} 

.school {
	background-color: #CBDFE8;
}

.description {
	padding-right: 400px;
	font-size: 1.5em; 
}

h1 {
	color: #FF4C3B;
	font-size: 3em;	
}

.shadowing {
	background-color: #CBDFE8;
}
h2 {
	font-size: 2.3em;
}

h3 {
	color: #000000;
	font-size: 2em;
}

p {
	font-size: 1.5em;
}

/* container only */
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      /* grid-template-rows: 100px 200px 300px; */

      /* add gaps between items */
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      /* aligning items inside the grid */
      /* justify-content: center; */


      background-color: #CBDFE8;
      padding: 10px;
      border: 1px solid black;
    }

    .work1 {
      grid-column: 1 / span 3; 
      /* grid-area: 1 / 1 / 1 /4; */
    }

    .work2 {
      grid-area: 2 / 1 / 5 / 2;
    }
    .work3 {
      grid-area: 2 / 2 / 5 / 3;
    }

    .grid-item {
      background-color:#4FD5D6;
      border: 1px solid black;
      padding: 20px;
      font-size: 1.5em;
      text-align: center;
    }

    .skill{
	background-color: #CBDFE8;
	}

	.contacts{
	background-color: #CBDFE8;
	}
a>img {
    //:hidden;transition: opacity .3s linear;
}
a>img:hover {
    opacity: .65;
}


